TZ=Europe/Copenhagen

SYNC_INTERVAL_SECONDS=60
LOG_LEVEL=info

# Optional JSON logs
LOG_JSON=false

# DNS
DNS_SUFFIX=internal

# Filters
FILTER_INCLUDE_TYPES=qemu,lxc
FILTER_REQUIRE_RUNNING=false // If true, only running VMs/containers will be included.
FILTER_INCLUDE_TAGS=
FILTER_EXCLUDE_TAGS=
FILTER_INCLUDE_NAMES=
FILTER_EXCLUDE_NAMES=

# Discovery order
# Supported values:
# VM: guest-agent,description,cloudinit
# LXC: config,description
DISCOVERY_VM_ORDER=guest-agent,description,cloudinit
DISCOVERY_LXC_ORDER=config,description

# Description metadata keys
DESCRIPTION_IP_KEYS=dns_ip,ip
DESCRIPTION_NAME_KEYS=dns_name,name

# Proxmox
PROXMOX_BASE_URL=https://hostname/ip:8006/api2/json # Change this.
PROXMOX_TOKEN_ID=dns-sync@pve!adguard-sync
PROXMOX_TOKEN_SECRET=REPLACE_ME # Change this.
PROXMOX_VERIFY_TLS=false
NODE_TLS_REJECT_UNAUTHORIZED=0

# AdGuard Home
ADGUARD_BASE_URL=http://hostname/ip:port # Change this.
ADGUARD_USERNAME=admin # Change this.
ADGUARD_PASSWORD=REPLACE_ME # Change this.

# State
STATE_FILE=/app/data/state.json

# Optional AdGuard persistent client synchronization.
SYNC_PERSISTENT_CLIENTS=false
# guest | hostname | fqdn
PERSISTENT_CLIENTS_NAME_MODE=guest

# Optional tag applied to managed AdGuard persistent clients.
# Set to empty string if you do not want a tag.
PERSISTENT_CLIENTS_TAG=proxmox-adguard-sync